package {{packageName}};

class {{simpleName}}Delegated {

    final {{canonicalName}} target = new {{canonicalName}}();

    {{#fields}}
    {{#annotations}}{{.}}{{/annotations}}
    {{type}} {{name}}(){
        return target.{{name}};
    }

    {{/fields}}
    {{#methods}}
    {{^constructor}}
    {{#annotations}}{{.}}{{/annotations}}
    {{type}} {{name}}(){
        return target.{{name}}();
    }
    {{/constructor}}

    {{/methods}}
}